<div class="container mt-2">
    <div class="card">
        <div class="card-header h1 bg-primary">
            All User
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor="let user of users; let i=index">
                <li class="list-group-item" [ngClass]="selectedUser?._id===user._id ? 'active': ''  "
                    (click)="showDetail(user)">
                    user: ({{i + 1}}) -
                    {{user.name}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card" *ngIf="selectedUser">
        <div class="card-header h1 bg-primary">
            User detail
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="h6">ID: {{selectedUser._id}} </p>
                <p class="h6">Name: {{selectedUser.name}} </p>
                <p class="h6"> Age: {{selectedUser.age}} </p>
                <p class="h6">Mobile No: {{selectedUser.mobileNo}}</p>
                <p class="h6"> Email: {{selectedUser.email}} </p>
            </blockquote>

        </div>
    </div>

</div>