<div class="container mt-2">
    <div class="card">
        <div class="card-header h1 bg-primary">
            All User
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor="let user of userList; let i=index">
                <li class="list-group-item" [ngClass]="selectedUser?._id===user._id ? 'active': ''  "
                    (click)="showDetail(user)">
                    user: ({{i + 1}}) -
                    {{user.name}}</li>
            </ul>
        </div>
    </div>
    <br>

    <ea-user-detail [selectedUser]="selectedUser"></ea-user-detail>
</div>